*~
*#*#
*.#*
*.tmproj
*.swp
*_flymake.rb
coverage/*
.DS_Store
thumbs.db
tmp/*
log/*
config/database.yml
db/*.sqlite3
db/development_structure.sql
public/files/areas/*/**
public/files/medias/*
public/javascripts/cache
public/stylesheets/cache
rubyrun/*
public/rubyrun_rss/*
public/stylesheets/*.css
.sass-cache
